:root {
    --base00: #000;
    --base01: #333;
    --base02: #777;
    --base03: #ccc;
    --base04: #ddd;
    --base05: #eee;
    --base06: #fff;

    --light00: #e7e7e7;
    --light01: #f7f7f7;
    --light02: #f8f8f8;

    --link: #4183c4;
}

@media (prefers-color-scheme: dark) {
    :root {
        --base00: #eee;
        --base01: #ddd;
        --base02: #bbb;
        --base03: #aaa;
        --base04: #777;
        --base05: #333;
        --base06: #181818;

        --light00: #272727;
        --light01: #171717;
        --light02: #181818;

        --link: #5badff;
    }
}

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif, "Apple Color Emoji";
    color: var(--base01);
    background-color: var(--base06);
}

body {
/*    margin: 2em;*/
}

h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid var(--base05);
}

h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid var(--base05);
}

h3 {
    font-size: 1.5em;
    line-height: 1.43;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6 {
    color: var(--base02);
    font-size: 1em;
}

img {
    border: 0;
}

hr {
    box-sizing: content-box;
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: var(--light00);
    border: 0 none;
}

table {
    margin-left: 0.5em;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    width: 100%;
    overflow: auto;
}

tr {
    background-color: var(--base06);
    border-top: 1px solid var(--base03);
}

tr:nth-child(2n) {
    background-color: var(--light02);
}

th {
    font-weight: 700;
    padding: 6px 13px;
    border: 1px solid var(--base04);
}

td {
    padding: 6px 13px;
    border: 1px solid var(--base04);
}

pre {
    overflow: auto;
    padding: 16px;
    margin-bottom: 16px;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--light01);
    border-radius: 3px;
    word-wrap: normal;
}

dt {
    font-style: italic;
    font-weight: 600;
}

dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
}

small {
    font-size: 90%;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

blockquote {
    padding: 0 15px;
    margin-left: 0;
    color: var(--base02);
    border-left: 4px solid var(--base02);
}

img {
    max-width: 100%;
    box-sizing: border-box;
}

code,
tt {
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px;
}

code br,
tt br {
    display: none;
}

del code {
    text-decoration: inherit;
    vertical-align: text-top;
}

pre code {
    font-size: 100%;
    background-color: var(--light01);
}

li {
    margin-left: 0;
}

.task-list-item {
    list-style-type: none;
    margin-left: -1.5em;
}

.task-list-item .task-list-item {
    margin: 0;
}

.task-list-item ul li {
    margin-left: 1em;
}

input[type=checkbox] {
    margin-right: 8px;
}

